
/* required css  start here */
body,
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

img {
    max-width: 100%;
}

.intro-btns {
    margin-bottom: 70px;
}

*,
*::before *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

/* required css  end here */

a.btn {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.24);
  
    padding: 4px 15px;
    -webkit-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.utility-margin {
    margin-right: 10px;

}

a.btn:hover {
    background-color: rgb(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, 0.316);
}

.top-section-wrapper {
    background-color: #001D37;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
}

.top-section {
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    max-width: 1066px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
}

.actual-top-content {
    z-index: 5;
    position: relative;
}

.top-section h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 97.3%;
    max-width: 525px;
}

.top-section-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 435px;
}



.cards-section {
    padding: 33px 25px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    color: white;
}

.cards-section p {
    margin: 0;
    font-size: 1.0625rem;
}

.cards-section h2 {
    font-size: 1.5rem;
    margin: 32px 0px 5px 0px;
}

.cards-sections {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
}

@media screen and (min-width: 580px) {
    .cards-sections {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .cards-sections {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




/* .circle-pink {
    width: 617px;
    height: 617px;
    /* background-color: #D660FF;; */
    /*background: -o-radial-gradient(top, ellipse, #D660FF, transparent),
        -o-radial-gradient(bottom, ellipse, #6079FF, transparent);
    background: radial-gradient(ellipse at top, #D660FF, transparent),
        radial-gradient(ellipse at bottom, #6079FF, transparent);
    opacity: .85;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    top: 50px;
    right: -450px;
}*/

/*.circle-blue {
    width: 617px;
    height: 617px;
    background-color: #6079FF;
    opacity: .85;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    top: -365px;
    left: -123px;

} */

/* test if it work */

.circle-pink {
    width: 617px;
    height: 617px;
    /* background-color: #D660FF;; */
    background: -o-radial-gradient(top, ellipse, #D660FF, transparent),
        -o-radial-gradient(bottom, ellipse, #6079FF, transparent);
    background: radial-gradient(ellipse at top, #D660FF, transparent),
        radial-gradient(ellipse at bottom, #6079FF, transparent);
    opacity: .85;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    top: 50px;
    right: -450px;
}

.circle-blue {
    width: 617px;
    height: 617px;
    background-color: #6079FF;
    opacity: .85;
    border-radius: 50%;
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    top: -365px;
    left: -123px;

}

/* Pets section start here */

.page-section {
    background-color: #fff;
    padding: 70px 16px;

}

.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
}

.page-section-title {
    font-size: 4rem;
    margin: 0;
    line-height: 1;
}

.pets-filter {
    color: #9f9f9f;
    font-size: 1.15rem;
}

.pets-filter button {
    color: #9f9f9f;
    font-size: 1.15rem;
    background-color: transparent;
    border: none;
}

.main-footer {
    text-align: center;
    color: #A6A6A6;
    font-size: 0.875;
    margin: 0;
    padding: 0 0 65px 0;
}

.pets-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    -webkit-column-gap: 34px;
       -moz-column-gap: 34px;
            column-gap: 34px;
    row-gap: 16px;
}

.pet-card {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 165px 1fr;
    grid-template-columns: 165px 1fr;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.08);
            box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.08);
}

.pet-photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

.pet-photo img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.pet-card-text {
    padding: 18px 16px;
}

.pet-card-text h3 {
    margin: 0 0 10px 0;
    font-size: 1.625rem;
    font-weight: 600;
}

.pet-description {
    font-size: .9rem;
    margin: 0 0 1rem 0;
    color: #626262;
    line-height: 150%;
}

.pet-age {
    margin: 0;
    color: #A2A2A2;
    font-size: .85rem;
}

/* Pets section ends here */


@media screen and (min-width: 600) {
    .pet-description {
        font-size: 1rem;
    }

    .pet-card-text {
        padding: 29px 21px;
    }

    .pets-list {
        row-gap: 28px;
    }

    .pets-filter {
        font-size: 1.375rem;
    }
    
    .pets-filter button {
        font-size: 1.375rem;

    }
    .page-section {
        padding: 130px 16px;
    
    }

    .page-section-title {
        font-size: 5.31rem;
    }

    .intro-btns {
        margin-bottom: 129px;
    }

    .top-section h1 {
        font-size: 6.25rem;
        margin: 0;
        line-height: 97.3%;
        max-width: 525px;
    }

    .top-section {
        padding-top: 139px;
        padding-bottom: 139px;
    }

}